.nav-bar{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 19.4rem;
    height: 100vh;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    border-right: 1px solid #000;
    transform: translateX(-19.4rem);
    transition: transform .5s ease-in-out;
    a{
        transition: transform .2s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
    }
}

.open{
    transform: translateX(0);
}

.nav-head-icon{
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
}

.nav-list-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: fit-content;
    height: fit-content;
}

.nav-list-pglinks{
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    ul{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        a{
            user-select: none;
        }
    }
}

.nav-list-versions{
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    a{
        font-size: 1.3rem;
        text-decoration: underline;
    }
}

.nav-socials{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: fit-content;
    height: fit-content;
    a{
        width: fit-content;
        height: fit-content;
        display: flex;
        user-select: none;
        img{
            width: 35px;
            height: 35px;
        }
    }
}