@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@900&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --first-color: #000000;
  --second-color: #FBF751;
  --third-color: #FFFFFF;
  --forth-color: #75B09C;
  --fifth-color: #998650;
  --sixth-color: #EAEAEA;
}

html {
  font: normal 112.5%/1.65 serif;
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

a {
  color: var(--first-color);
  text-transform: uppercase;
}

.giga {
  font-size: 6.5rem; /* 112 / 18 =  */
}

.mega {
  font-size: 4.8rem; /* 82 / 18 =  */
}

.alpha {
  font-size: 3.7rem; /* 62 / 18 =  */
}

.beta {
  font-size: 2.6rem; /* 42 / 18 =  */
}

.gamma {
  font-size: 1.7rem; /* 32 / 18 = 1.7 */
}

.delta {
  font-size: 1.6rem; /* 26 / 18 =  */
}

.epsilon {
  font-size: 1rem; /* 18 / 18 = 1 */
}

.zeta {
  font-size: 1.1rem; /* 14 / 18 =  */
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.thin {
  font-weight: 100;
}

.extralight {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.logo-icon {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -12px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.sec-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
  line-height: 1.2;
}

.sec-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 125px 80px;
  text-transform: uppercase;
}

.main-wrapper {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.btn-type-1 {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 20px 50px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--first-color);
  border-radius: 8px;
  outline: none;
}

/* ============================= 
   ========== SECÇÃO 2 ========= 
   ========== SECÇÃO 2 ========= 
   ========== SECÇÃO 2 ========= 
   ============================= */
.section-1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--second-color);
}

.sec-1 {
  align-items: center;
}

.sec-1-redirect-btn {
  position: absolute;
  bottom: -140px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* ============================= 
   ========== SECÇÃO 2 ========= 
   ========== SECÇÃO 2 ========= 
   ========== SECÇÃO 2 ========= 
   ============================= */
.section-2 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sec-2 h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 30px;
  width: 10.3rem;
  height: 0.27rem;
  background-color: var(--forth-color);
}
.sec-2 span {
  color: var(--forth-color);
}

.sec-2-redirect {
  position: relative;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  gap: 30px;
}
.sec-2-redirect button {
  transition: 1s ease-in-out;
}
.sec-2-redirect button svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  fill: none;
  stroke: var(--first-color);
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
.sec-2-redirect button:hover {
  transition: 1s ease-in-out;
}
.sec-2-redirect button:hover svg {
  stroke-dashoffset: -480;
}
.sec-2-redirect img {
  width: 29.7rem;
}

.sec-2-redirect-btn {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.sec-2-redirect-btn i {
  position: absolute;
  right: 1.1rem;
  bottom: -1.38rem;
  background-color: var(--third-color);
  padding: 0 10px;
  font-size: 1.6rem;
}

/* ============================= 
   ========== SECÇÃO 3 ========= 
   ========== SECÇÃO 3 ========= 
   ========== SECÇÃO 3 ========= 
   ============================= */
.section-3 {
  flex-direction: column;
  align-items: center;
  gap: 125px;
}

.sec-3 {
  align-items: center;
}
.sec-3 h1 span {
  color: var(--fifth-color);
}

.sec-3-box-wrapper {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
}

.sec-3-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 374px;
  height: 394px;
  padding: 54px 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sec-3-box img {
  width: 80px;
  height: 80px;
  color: #998650;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec-3-box-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.sec-3-box-info h2 {
  font-size: 1.8rem;
  color: var(--forth-color);
}
.sec-3-box-info p {
  font-size: 1.4rem;
  text-align: center;
  text-transform: none;
  font-variant: all-small-caps;
  letter-spacing: 2px;
}

/* ============================= 
   ========== SECÇÃO 4 ========= 
   ========== SECÇÃO 4 ========= 
   ========== SECÇÃO 4 ========= 
   ============================= */
.section-4 {
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--second-color);
  align-items: center;
}
.section-4 p {
  text-transform: none;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.sec-4-reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}
.sec-4-reviews h1 {
  text-align: right;
  letter-spacing: 2px;
}

/* ============================= 
   ========== SECÇÃO 5 ========= 
   ========== SECÇÃO 5 ========= 
   ========== SECÇÃO 5 ========= 
   ============================= */
.section-5 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sec-5 h1 span {
  color: var(--forth-color);
}

/* ============================= 
   ========== SECÇÃO 6 ========= 
   ========== SECÇÃO 6 ========= 
   ========== SECÇÃO 6 ========= 
   ============================= */
.section-6 {
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.sec-6 {
  align-items: center;
}
.sec-6 h1 span {
  color: var(--forth-color);
}

.sec-6-contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 40px;
  width: 54.4rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 70px 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: -60px 60px 0px 0px var(--fifth-color);
}
.sec-6-contact label {
  text-transform: none;
  font-variant: all-small-caps;
  letter-spacing: 2px;
}
.sec-6-contact input, .sec-6-contact textarea {
  padding: 20px 20px;
  background-color: var(--sixth-color);
  border-radius: 10px;
  letter-spacing: 2px;
}
.sec-6-contact textarea {
  resize: none;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.contact-ipt-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.contact-ipt {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.sec-6-btn-contact {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: var(--fifth-color);
  border: 2px solid var(--fifth-color);
  padding: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.sec-6-btn-contact:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--third-color);
  z-index: -2;
}
.sec-6-btn-contact:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--fifth-color);
  transition: all 0.3s;
  z-index: -1;
}
.sec-6-btn-contact:hover {
  color: #fff;
}
.sec-6-btn-contact:hover:before {
  width: 100%;
}
.sec-6-btn-contact svg {
  width: 28px;
  height: 28px;
}/*# sourceMappingURL=style.css.map */