@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@900&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --first-color: #000000;
  --second-color: #FBF751;
  --third-color: #FFFFFF;
  --forth-color: #75B09C;
  --fifth-color: #998650;
  --sixth-color: #EAEAEA;
}

html {
  font-size: 62.5%;
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

a {
  color: var(--first-color);
  text-transform: uppercase;
}

.giga {
  font-size: clamp(52px, 8vw + 1rem, 118px);
}

.mega {
  font-size: clamp(48px, 7vw + 1rem, 88px);
}

.alpha {
  font-size: clamp(38px, 6vw + 1rem, 68px);
}

.beta {
  font-size: clamp(36px, 5vw + 1rem, 48px);
}

.zota {
  font-size: clamp(26px, 2vw + 1rem, 38px);
}

.gamma {
  font-size: clamp(24px, 4vw + 1rem, 38px);
}

.delta {
  font-size: clamp(22px, 1vw + 1rem, 24px);
}

.zeta {
  font-size: clamp(18px, 0.8vw + 0.8rem, 28px);
}

.epsilon {
  font-size: clamp(12px, 0.8vw + 1rem, 20px);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.thin {
  font-weight: 100;
}

.extralight {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.logo-icon {
  display: block;
  width: 42px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.sec-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
  line-height: 1.2;
}

.sec-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 125px 80px;
  text-transform: uppercase;
}

.main-wrapper {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.btn-type-1 {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 20px 50px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--first-color);
  border-radius: 8px;
  outline: none;
}

.op-0 {
  opacity: 0;
}

.line {
  position: relative;
  width: 1px;
  height: auto;
  background-color: var(--first-color);
}

/* ============================= 
   ========== SECÇÃO 2 ========= 
   ========== SECÇÃO 2 ========= 
   ========== SECÇÃO 2 ========= 
   ============================= */
.section-1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 100%;
  height: 100vh;
  background-color: var(--second-color);
}

.sec-1 {
  align-items: center;
}

.sec-1-redirect-btn {
  position: absolute;
  bottom: -140px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sec-1-search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--first-color);
}
.sec-1-search-bar button {
  padding: 15px 35px;
  border: 1px solid var(--first-color);
  background-color: transparent;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.sec-1-search-bar button:hover {
  background-color: var(--first-color);
  color: var(--third-color);
}

.sec-1-search-bar-box {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding: 20px 30px;
  border-radius: 10px;
}
.sec-1-search-bar-box i {
  font-size: 2.6rem;
}
.sec-1-search-bar-box input {
  border: none;
  outline: none;
  background-color: transparent;
}
.sec-1-search-bar-box input:focus .sec-1-search-bar-box {
  background-color: #75B09C;
}
.sec-1-search-bar-box input::-moz-placeholder {
  text-transform: capitalize;
  color: var(--first-color);
}
.sec-1-search-bar-box input::placeholder {
  text-transform: capitalize;
  color: var(--first-color);
}
.sec-1-search-bar-box input:-moz-placeholder-shown {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sec-1-search-bar-box input:placeholder-shown {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ============================= 
   ========== SECÇÃO 2 ========= 
   ========== SECÇÃO 2 ========= 
   ========== SECÇÃO 2 ========= 
   ============================= */
.section-2 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.sec-2 span {
  color: var(--forth-color);
}

.sec-2-redirect {
  position: relative;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  gap: 30px;
}
.sec-2-redirect img {
  width: 29.7rem;
}

.sec-2-redirect-btn {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.sec-2-redirect-btn i {
  position: absolute;
  right: 1.1rem;
  bottom: -1.38rem;
  background-color: var(--third-color);
  padding: 0 10px;
  font-size: 1.6rem;
}

/* ============================= 
   ========== SECÇÃO 3 ========= 
   ========== SECÇÃO 3 ========= 
   ========== SECÇÃO 3 ========= 
   ============================= */
.section-3 {
  flex-direction: column;
  align-items: center;
  gap: 125px;
}

.sec-3 {
  align-items: center;
}
.sec-3 h1 span {
  color: var(--fifth-color);
}

.sec-3-box-wrapper {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
}

.sec-3-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 374px;
  height: 394px;
  padding: 54px 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sec-3-box img {
  width: 80px;
  height: 80px;
  color: #998650;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec-3-box-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.sec-3-box-info h2 {
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
  color: var(--forth-color);
  letter-spacing: 2px;
}
.sec-3-box-info p {
  font-size: clamp(1.4rem, 2vw + 1rem, 2.4rem);
  text-align: center;
  text-transform: none;
  font-variant: all-small-caps;
  letter-spacing: 3px;
  line-height: 1.5;
}

/* ============================= 
   ========== SECÇÃO 4 ========= 
   ========== SECÇÃO 4 ========= 
   ========== SECÇÃO 4 ========= 
   ============================= */
.section-4 {
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--second-color);
  align-items: center;
}
.section-4 p {
  text-transform: none;
  font-variant: small-caps;
  letter-spacing: 10px;
  line-height: 2;
}

.sec-4-reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}
.sec-4-reviews h1 {
  text-align: right;
  letter-spacing: 2px;
}
.sec-4-reviews h1 span {
  display: block;
  margin-bottom: 20px;
}

/* ============================= 
   ========== SECÇÃO 5 ========= 
   ========== SECÇÃO 5 ========= 
   ========== SECÇÃO 5 ========= 
   ============================= */
.section-5 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.sec-5 h1 span {
  color: var(--forth-color);
}

/* ============================= 
   ========== SECÇÃO 6 ========= 
   ========== SECÇÃO 6 ========= 
   ========== SECÇÃO 6 ========= 
   ============================= */
.section-6 {
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.sec-6 {
  align-items: center;
}
.sec-6 h1 span {
  color: var(--forth-color);
}

.sec-6-contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 40px;
  width: 70%;
  min-width: 380px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 70px 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: -60px 60px 0px 0px var(--fifth-color);
}
.sec-6-contact label {
  text-transform: none;
  font-variant: all-small-caps;
  letter-spacing: 2px;
}
.sec-6-contact input, .sec-6-contact textarea {
  padding: 20px 20px;
  background-color: var(--sixth-color);
  border-radius: 10px;
  letter-spacing: 2px;
}
.sec-6-contact textarea {
  resize: none;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.contact-ipt-container {
  position: relative;
  display: flex;
  width: 100%;
  gap: 10px;
  height: auto;
  overflow: hidden;
}

.contact-ipt {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.sec-6-btn-contact {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: var(--fifth-color);
  border: 2px solid var(--fifth-color);
  padding: 20px 40px;
  letter-spacing: 2px;
}
.sec-6-btn-contact:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--third-color);
  z-index: -2;
}
.sec-6-btn-contact:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--fifth-color);
  transition: all 0.3s;
  z-index: -1;
}
.sec-6-btn-contact:hover {
  color: #fff;
}
.sec-6-btn-contact:hover:before {
  width: 100%;
}
.sec-6-btn-contact svg {
  width: 28px;
  height: 28px;
}

@media all and (max-width: 480px) {
  .section-6 {
    font-size: 4px;
  }
}
@media screen and (orientation: portrait) {
  .sec-info {
    align-items: center;
    text-align: center;
  }
  .section-2 {
    flex-direction: column;
    gap: 90px;
  }
  .sec-2 {
    text-align: left;
    align-items: baseline;
    width: 100%;
  }
  .section-4 {
    flex-direction: column;
    text-align: center;
    gap: 90px;
  }
  .sec-4-reviews {
    width: 100%;
  }
  .sec-6-contact {
    align-items: center;
  }
  .contact-ipt-container {
    flex-direction: column;
  }
}
@media screen and (orientation: landscape) {
  .section-4 {
    flex-direction: row;
  }
  .sec-6-contact {
    align-items: end;
  }
  .contact-ipt-container {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */